@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css");
@import url('https://fonts.googleapis.com/css?family=Questrial|Montserrat:400,700');

@font-face {
  font-family: Heartwell;
  font-style: normal;
  src: url("/public/fonts/Heartwell 1.2.otf") format("opentype");
}
@font-face {
  font-family: Heartwell;
  font-style: italic;
  src: url("/public/fonts/Heartwell Italic 1.2.otf") format("opentype");
}

/* General styles
----------------------------------*/
body {
  font-family: 'Questrial', sans-serif;
}

/* Menu bar 
----------------------------------*/
.logo-link {
  text-decoration: none !important;  
}
.logo-img {
  height: 45px;
  margin: 4px 0 0 4px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.logo-text {
  font-family: Heartwell;
  font-size: 1.8em;
  letter-spacing: 2px;
  color: #A0A0A0 !important;
  position:relative;
  bottom:-7px;
  left: 10px;
}
.navbar-default {
    background-color: white;
    border-color: white;
    border: 0;
    margin-bottom: 0;
}
.nav li {
  border-bottom: 3px solid white;
}
.nav li:hover {
  border-bottom-color: black;
}
.nav form {
  width: 100%; /* Removes scrollbar for collapsed menu */
}

/* Login popup 
----------------------------------*/
.login-buttons {
  text-align: center;
}
.login-btn {
  margin: 20px !important;
}
* {
  border-radius: 0 !important;
}

/* Pledge group 
----------------------------------*/
.grid {
  padding-top: 50px;
}

.pledge-link {
  background: rgba(64,180,194,0.8);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  height: 250px;
  text-align: center;
}
.pledge-info {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  color: black;
  text-shadow: 0px 0px 5px white;
  transition: opacity .5s
}
.pledge-link img {
  position: relative;
  min-width: 101%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transition: transform .2s, opacity 0.3s;
  transform: translate(-50%, -50%);
}
.pledge-link:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.pledge-link:hover img {
  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1.1);
}
.pledge-link:hover .pledge-info {
  opacity: 1;
}
.pledge-thumb-title { 
  position: absolute; 
  white-space: nowrap;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.pledge-thumb-title span { 
  color: white;
  background: rgb(8, 8, 8);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; 
}

/* Pledge page
----------------------------------*/
.pledge-page {
  text-align: center;
  color: white;
  font-size: 2em;
}
.pledge-img {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  transform: translateX(-50%);
  background-position: 50% 50%;
  z-index: -1;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}
.pledge-title {
  margin: 20px 0 20px 0;
  font-family: 'Heartwell';
  font-size: 4em;
}
.pledge {
  max-width: 800px;
}
.pledge-source, .pledge-source:visited {
  color: white;
  text-decoration: none !important;
  margin: 0 20px 0 20px;
}
.pledge-source:hover {
  color: lightgrey;
}
.pledge-para {
  margin-bottom: 40px;
}
