@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css");
@import url('https://fonts.googleapis.com/css?family=Questrial|Montserrat:400,700');

body {
  font-family: 'Questrial', sans-serif;
}

/* Menu bar 
----------------------------------*/
.logo-img {
  height: 45px;
  margin: 4px 0 0 -10px;
}
.navbar-default {
    background-color: white;
    border-color: white;
}
.nav li {
  border-bottom: 3px solid white;
}
.nav li:hover {
  border-bottom-color: black;
}

/* Login modal 
----------------------------------*/
.login-buttons {
  text-align: center;
}
.login-btn {
  margin: 30px !important;
}
* {
  border-radius: 0 !important;
}

/* Pledge group 
----------------------------------*/
.pledgeLink {
  position: relative; 
  cursor: pointer;
  float: left;
  margin: 5px;
}
.pledgeTitle { 
  position: absolute; 
  top: 15px;
  left: 15px;
}
.pledgeTitle span { 
  color: white;
  background: rgb(8, 8, 8);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; 
}